a:link, a:visited{
    color: black;
    text-decoration: none;
}
a:hover, a:active{
    background-color: gold;
    /* color:blue; */
}
h1{
    text-align: center;
}
body{
    position: relative;
}
pre{
    margin: auto;
    width: fit-content;
}
::selection{
    color: white;
    background-color: black;
}