a:link, a:visited{
    color: black;
    text-decoration: none;
}
a:hover, a:active{
    background-color: gold;
    /* color:blue; */
}
h1{
    text-align: center;
}
body{
    position: relative;
}
pre{
    margin: auto;
    width: fit-content;
}
p{
    position: fixed;
    top: 10px;
}
#left-arrow{
    left: 50px;
}
#right-arrow{
    right: 50px;
}
img{
    width: 15rem;
    margin: auto;
    display: block;
}
::selection{
    color: white;
    background-color: black;
}

#sock:hover{
    cursor: zoom-in;
}
#message{
    color: cornflowerblue;
    visibility: hidden;
}