body{
    background-color: black;
    color: white;
    overflow: hidden;
}
h2{
    text-align: center;
    left: 50vw;
    bottom: 5vh;
    position: fixed;
    z-index: 20;
}
#bread{
    width: min-content;
    margin: 50px auto;
}
.ham{
    position: absolute;
    margin: 10px auto;
    width: 600px;
    /* mix-blend-mode: multiply; */
}

.spin{
    animation: spinAnimate 1s linear infinite;
}

@keyframes spinAnimate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}